
@{
    ViewData["Title"] = "GetPlanetById";
}



@model Planet

<h1>Planets</h1>


<table class="table table-dark">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Rotational Period</th>
        <td>@Model.Rotation_Period Days</td>
    </tr>
    <tr>
        <th>Orbital Period</th>
        <td>@Model.Orbital_Period Orbital Time</td>
    </tr>
    <tr>
        <th>Climate</th>
        <td>@Model.Climate</td>
    </tr>
    <tr>
        <th>Population</th>
        <td>@Model.Population</td>
    </tr>
    <tr>
        <th>Residents</th>
        <td>
            @foreach (string residents in Model.Residents)
            {
                <div>@residents</div>
            }
        </td>
    </tr>


</table>